<div class="title-wrapper">
  <h1 mat-dialog-title>Details</h1>
  <mat-icon
    aria-hidden="false"
    aria-label="close icon"
    fontIcon="close"
    mat-dialog-close
  ></mat-icon>
</div>
<div mat-dialog-content class="padding-top-xs">
  <div class="margin-bottom-sm">
    <span class="release-data-label">Change Type</span>
    <span
      class="custom-chip"
      [class]="data.changeType.color"
      [innerHTML]="data.changeType.name"
    >
    </span>
  </div>

  <div class="release-details-row margin-bottom-sm">
    <div>
      <span class="release-data-label">Product</span>
      <span> {{ data.product }} </span>
    </div>

    <div>
      <span class="release-data-label"> Calver </span>
      <span> {{ data.calVer }} </span>
    </div>
  </div>

  <div class="margin-bottom-sm">
    <span class="release-data-label"> Discipline</span>
    <span> {{ data.discipline }} </span>
  </div>

  <div class="release-details-row margin-bottom-sm">
    <div>
      <span class="release-data-label"> Software Component </span>
      <span> {{ data.component }} </span>
    </div>

    <div>
      <span class="release-data-label"> Software Version </span>
      <span>
        {{ data.version }}
      </span>
    </div>
  </div>

  <div class="margin-bottom-sm">
    <span class="release-data-label"> Title</span>
    <span> {{ data.title }} </span>
  </div>

  <div class="margin-bottom-sm">
    <div class="release-data-label">Description</div>
    <div class="margin-top-xs">
      {{ data.description }}
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-flat-button
    color="primary"
    (click)="getReleaseDetails('previous')"
    [disabled]="isFirstElement"
  >
    << Previous
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="getReleaseDetails('next')"
    [disabled]="isLastElement"
  >
    Next >>
  </button>
</div>
