<div class="container">
  <div class="product-list">
    <h2>Select Products</h2>
    <div class="product">
      <mat-radio-group
        aria-label="Select an option"
        [formControl]="advisoryForm.controls.product"
      >
        <mat-radio-button
          *ngFor="let product of productList"
          [value]="product.name"
          [checked]="product.isSelected"
          >{{ product.name }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
  <div
    class="discipline margin-top-xs"
    [class]="!advisoryForm.controls.product.valid ? 'calver-disabled' : null"
  >
    <h2>Select Discipline</h2>
    <div class="discipline discipline-selector">
      <ng-container *ngFor="let discipline of disciplineList">
        <mat-slide-toggle
          [disabled]="!advisoryForm.controls.product.valid"
          [checked]="discipline.isSelected"
          [formControl]="
            advisoryForm.controls.discipline.controls[discipline.name]
          "
          >{{ discipline.name }}</mat-slide-toggle
        >
      </ng-container>
    </div>
    <div
      class="calver-selection-wrapper"
      [class]="
        !advisoryForm.controls.discipline.valid ? 'calver-disabled' : null
      "
    >
      <ng-container
        *ngIf="
          advisoryForm.controls.product.valid &&
          advisoryForm.controls.discipline.controls.Backend.value
        "
      >
        <h2>Select Calver</h2>
        <div class="calver-selection">
          <div class="source">
            <app-calver-select
              [disabled]="!advisoryForm.controls.discipline.valid"
              title="Source version"
              [options]="options"
              [filteredOptions]="filteredOptionsSource | async"
              [calverControl]="advisoryForm.controls['source']"
            ></app-calver-select>
          </div>
          <div class="target">
            <app-calver-select
              [disabled]="!advisoryForm.controls.discipline.valid"
              title="Target version"
              [options]="options"
              [filteredOptions]="filteredOptionsTarget | async"
              [calverControl]="advisoryForm.controls['target']"
            ></app-calver-select>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="loader center" *ngIf="isLoading; else loadTable">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #loadTable>
    <div
      class="details-wrapper"
      *ngIf="
        advisoryForm.controls.target.valid &&
        advisoryForm.controls.discipline.controls.Backend.value
      "
    >
      <div class="filters">
        <h3>Filter options</h3>

        <!-- <div class="option-type">
          <h4>By Backend</h4>
          <div class="filter-select">
            <mat-slide-toggle
              [formControl]="filterForm.controls.enableBackend"
              [checked]="filterForm.controls.enableBackend.value"
              >Hide Backend changes</mat-slide-toggle
            >
          </div>
        </div> -->

        <div class="option-type">
          <h4>Change Type</h4>
          <div class="filter-select">
            <ng-container *ngFor="let changeType of changeTypeList">
              <mat-slide-toggle
                [checked]="
                  filterForm.controls.changeType.controls[changeType.name].value
                "
                [formControl]="
                  filterForm.controls.changeType.controls[changeType.name]
                "
                >{{ changeType.name }}</mat-slide-toggle
              >
            </ng-container>
          </div>
        </div>
        <div class="option-type">
          <h4>Disciplines</h4>
          <div class="filter-select">
            <ng-container *ngFor="let discipline of disciplineList">
              <mat-slide-toggle
                [checked]="
                  filterForm.controls.discipline.controls[discipline.name].value
                "
                [formControl]="
                  filterForm.controls.discipline.controls[discipline.name]
                "
                >{{ discipline.name }}
              </mat-slide-toggle>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="release-details">
        <app-change-table-random
          *ngIf="advisoryForm.controls.target.valid"
          [dataSource]="dataSource"
          [displayedColumns]="displayedColumns"
        ></app-change-table-random>
      </div>
    </div>
  </ng-template>
</div>
