.margin-top-xs {
  margin-top: 2rem;
}

.loader {
  height: 30vh;
  display: flex;
  justify-content: center;
}

.release-details {
  @extend .margin-top-xs;
  width: 100%;
  padding-bottom: 2em;
}

.calver-selection-wrapper {
  margin-top: 2em;
  .calver-selection {
    padding: 1em;
    display: flex;
    gap: 1em;
  }
}
