<div class="container">
  <h1>Release Advisory</h1>
  <div class="product-list margin-top-xs">
    <h2>Select Products</h2>
    <div class="product">
      <mat-radio-group
        aria-label="Select an option"
        [formControl]="advisoryForm.controls.product"
      >
        <mat-radio-button
          color="primary"
          *ngFor="let product of productList"
          [value]="product.name"
          [checked]="product.isSelected"
          >{{ product.name }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
  <div class="discipline margin-top-xs">
    <h2>Select Discipline</h2>
    <div class="discipline">
      <mat-radio-group
        aria-label="Select an option"
        [formControl]="advisoryForm.controls.discipline"
      >
        <mat-radio-button
          [disabled]="!advisoryForm.controls.product.valid"
          color="primary"
          *ngFor="let discipline of disciplineList"
          [value]="discipline.name"
          [checked]="discipline.isSelected"
          >{{ discipline.name }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div class="calver-selection-wrapper">
      <h2>Select Calver</h2>
      <div class="calver-selection">
        <div class="source">
          <app-calver-select
            [disabled]="!advisoryForm.controls.discipline.valid"
            title="Source version"
            [options]="options"
            [filteredOptions]="filteredOptionsSource | async"
            [calverControl]="advisoryForm.controls['source']"
          ></app-calver-select>
        </div>
        <div class="target">
          <app-calver-select
            [disabled]="!advisoryForm.controls.discipline.valid"
            title="Target version"
            [options]="options"
            [filteredOptions]="filteredOptionsTarget | async"
            [calverControl]="advisoryForm.controls['target']"
          ></app-calver-select>
        </div>
      </div>
    </div>
  </div>
  <div class="release-details">
    <div class="loader center" *ngIf="isLoading; else loadTable">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #loadTable>
      <app-change-table-random
        [dataSource]="dataSource"
        [displayedColumns]="displayedColumns"
      ></app-change-table-random>
    </ng-template>
  </div>
</div>
