.table-wrapper {
  background-color: #fff;

  .filter-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    mat-form-field {
      width: 30%;
    }
  }

  .mat-elevation-z8,
  .mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: none;
  }

  .mat-mdc-header-row {
    color: var(--font-title-color);
    font-weight: bold;
    font-size: 1.2em;
  }

  .mdc-evolution-chip {
    &__checkmark {
      display: none !important;
    }
  }

  .custom-chip {
    height: 40px;
    padding: 0.5em 0.7em;
    border-radius: 20px;
  }

  .primary {
    background-color: var(--primary-color);
    color: #fff;
  }

  .accent {
    background-color: var(--accent-color);
  }

  .warn {
    background-color: var(--warn-color);
    color: #fff;
  }

  .bugfix {
    background-color: var(--bugfix-color);
  }

  .view-icon {
    cursor: pointer;
    color: var(--border-dark);
    &:hover {
      color: var(--primary-color);
    }
  }
}
