<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <span class="navigation-spacer"></span>

  <a
    mat-flat-button
    color="primary"
    routerLink="/prototype-one"
    routerLinkActive="active-button"
  >
    Prototype 1
  </a>
  <a
    mat-flat-button
    color="primary"
    routerLink="/prototype-two"
    routerLinkActive="active-button"
  >
    Prototype 2
  </a>
  <a
    mat-flat-button
    color="primary"
    routerLink="/prototype-three"
    routerLinkActive="active-button"
  >
    Prototype 3
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
