@use './custom-vars.scss';
@use './custom-mat.scss';

.container {
  max-height: calc(100% - 64px);
  padding: 1.2em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  gap: 0.6em;

  .mat-mdc-checkbox-touch-target,
  .mdc-checkbox__native-control,
  .mdc-checkbox {
    display: none;
  }

  mat-checkbox {
    border-radius: 3px;
    padding: 0.8em 1em;
  }

  .selected-product {
    background-color: var(--primary-color);
    .mdc-label {
      color: var(--white-color);
    }
  }

  .not-selected-product {
    background-color: #e0e0e0;
  }
}
