.margin-top-xs {
  margin-top: 2rem;
}

.loader {
  height: 30vh;
  display: flex;
  justify-content: center;
}

.calver-selection-wrapper {
  margin-top: 2em;
  .calver-selection {
    padding: 1em;
    display: flex;
    gap: 1em;
  }
}

.details-wrapper {
  @extend .margin-top-xs;
  display: flex;
  .filters {
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-height: 55vh;
    width: 20%;
    h3 {
      font-size: 1.4em;
      font-weight: bold;
      color: var(--font-title-color);
      position: sticky;
      top:0;
      padding: 1rem 1rem 0;
      background-color: #fff;
      z-index: 1000;
    }

    .option-container{
      padding: 0 1rem;

      .option-type {
        width: 100%;
        display: flex;
        flex-direction: column;
        h4 {
          font-size: 1.2em;
          font-weight: 500;
          color: var(--font-title-color);
        }
      }
  
      .filter-select {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
    }

  }
  .release-details {
    width: 100%;
    padding-bottom: 2em;
  }
}

.calver-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.discipline-selector {
  display: flex;
  gap: 1em;
}

.no-result {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}