<div class="container">
  <h1>Release Advisory</h1>
  <div class="product-list margin-top-xs">
    <h2>Select Products</h2>
    <div class="product">
      <mat-checkbox
        color="primary"
        [formControl]="advisoryForm.controls.product.controls[product.name]"
        *ngFor="let product of productList"
        >{{ product.name }}</mat-checkbox
      >
    </div>
  </div>
  <div class="discipline margin-top-xs" *ngIf="isProductSelected()">
    <!-- <h2>Select Discipline</h2>

    <div class="discipline discipline-selector">
      <mat-checkbox
        color="primary"
        [formControl]="
          advisoryForm.controls.discipline.controls[discipline.name]
        "
        [checked]="discipline.isSelected"
        *ngFor="let discipline of disciplineList"
        >{{ discipline.name }}</mat-checkbox
      >
    </div> -->
    <div class="calver-selection-wrapper">
      <ng-container *ngIf="isProductSelected()">
        <h2>Select Calver</h2>
        <div class="calver-selection">
          <div class="source">
            <app-calver-select
              title="Source version"
              [options]="options"
              [filteredOptions]="filteredOptionsSource | async"
              [calverControl]="advisoryForm.controls['source']"
            ></app-calver-select>
          </div>
          <div class="target">
            <app-calver-select
              title="Target version"
              [options]="options"
              [filteredOptions]="filteredOptionsTarget | async"
              [calverControl]="advisoryForm.controls['target']"
            ></app-calver-select>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="loader center" *ngIf="isLoading; else loadTable">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #loadTable>
    <div class="details-wrapper" *ngIf="advisoryForm.controls.target.valid">
      <div class="filters">
        <h3>Filter options</h3>

        <div class="option-type">
          <h4>Change Type</h4>
          <div class="filter-select">
            <mat-checkbox
              color="primary"
              [formControl]="
                filterForm.controls.changeType.controls[changeType.name]
              "
              checked="true"
              *ngFor="let changeType of changeTypeList"
              >{{ changeType.name }}</mat-checkbox
            >
          </div>
        </div>
        <div class="option-type">
          <h4>Disciplines</h4>
          <div class="filter-select">
            <mat-checkbox
              color="primary"
              [formControl]="
                advisoryForm.controls.discipline.controls[discipline.name]
              "
              [checked]="discipline.isSelected"
              *ngFor="let discipline of disciplineList"
              >{{ discipline.name }}</mat-checkbox
            >
            <!-- <mat-checkbox
              color="primary"
              [formControl]="
                filterForm.controls.discipline.controls[discipline.name]
              "
              *ngFor="let discipline of disciplineList"
              >{{ discipline.name }}</mat-checkbox
            > -->
          </div>
        </div>
      </div>
      <div class="release-details">
        <app-change-table-random
          *ngIf="advisoryForm.controls.target.valid"
          [dataSource]="dataSource"
          [displayedColumns]="displayedColumns"
        ></app-change-table-random>
      </div>
    </div>
  </ng-template>
</div>
